.edit-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0f172a;
}

.edit-card{
    width:600px;
    background:#1e293b;
    color:white;
    padding:35px;
    border-radius:20px;
}

.edit-card h2{
    text-align:center;
    margin-bottom:25px;
}

.edit-card label{
    display:block;
    margin-top:15px;
    margin-bottom:8px;
}

.edit-card input,
.edit-card textarea,
.edit-card select{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
}

.edit-card textarea{
    resize:none;
    height:90px;
}

.edit-card button{
    width:100%;
    margin-top:25px;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    cursor:pointer;
}