.view-container{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#0F172A;

}

.view-card{

    width:560px;

    background:#fff;

    padding:40px;

    border-radius:18px;

    box-shadow:0 15px 35px rgba(0,0,0,.25);

}

.view-card h2{

    color:#111827;

    margin-bottom:30px;

    font-size:34px;

}

.view-card p{

    color:#111827;

    margin:18px 0;

    line-height:1.7;

}

.view-card strong{

    color:#2563EB;

    font-size:17px;

}

.view-card button{

    margin-top:20px;

    margin-right:12px;

    padding:12px 24px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    background:#2563EB;

    color:white;

    font-size:15px;

}

.back-btn{

    background:#6B7280;

}

input{

    width:100%;

    padding:12px;

    margin-top:18px;

    border:1px solid #ddd;

    border-radius:10px;

    color:#111827;

    font-size:15px;

}